# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# Razorpay Payment Gateway Keys (Live or Test keys)
# Set your LIVE or TEST Key ID and Key Secret here
RAZORPAY_KEY_ID=rzp_live_TR5hdiKyXsnfNP
RAZORPAY_KEY_SECRET=5uf4sfFi6sKsNBfhsGCZh6a7
